body{
	font-family: Verdana;
	font-size: 14px;
}

#main {
	border: 2px solid #C0C0C0;
	background-color: #F2F2F2;
	border-radius:5px;
	min-height: 400px;
	text-align: center;
}

.sidebar-nav  > .well {
	border: 2px solid #C0C0C0;
	background-color: #F2F2F2;
	border-radius:5px;
}

#login-table{
	margin: auto;
	margin-top: 30px;
}

.btn-group > .btn {
	min-width: 250px;
	text-align: left;
}

#profile {
	max-width: 50%;
	margin: auto;
	margin-top: 30px;
}

.controls{
	text-align: left;
}